<div class="container">
  <form method="post" action="/short">
    <label name="user_url"><h1>Input a URL you'd like to shorten!</h1></label>
    <p><input type="text" name="user_url">&nbsp; <input type="submit" value="Submit">
    </p>
    <% if @short_url %>
      <p>Your short URL has been created: <a href="<%= @short_url %>"><%= @short_url %></a></p>
    <% end %>
    <% if @error %>
      <p>An error has occured: <%= @short_url %></p>
    <% end %>
  </form>
</div>
